## Scenario/Stakeholder Based Analysis of NYC taxi rides data
##### Authors: Panini Mokrala, Dmitrii Danilov

In [ ]:
!pip install PyShp
!pip install socrata-py

import io
import zipfile
import pandas as pd
import shapefile
import requests
from shapely.geometry import Polygon

Requirement already satisfied: PyShp in /usr/local/lib/python3.6/dist-packages (2.1.2)
Requirement already satisfied: socrata-py in /usr/local/lib/python3.6/dist-packages (1.0.5)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from socrata-py) (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->socrata-py) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->socrata-py) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->socrata-py) (2020.11.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->socrata-py) (3.0.4)

In [ ]:
def import_taxi_zones():
    taxi_zones = requests.get('https://s3.amazonaws.com/nyc-tlc/misc/taxi_zones.zip')
    with zipfile.ZipFile(io.BytesIO(taxi_zones.content), 'r') as myzip:
        sf = shapefile.Reader(shp=myzip.open('taxi_zones.shp'),
                              shx=myzip.open('taxi_zones.shx'),
                              dbf=myzip.open('taxi_zones.dbf'))

    fields = [x[0].lower() for x in sf.fields][1:]
    records = sf.records()
    shps = [Polygon(s.points).wkt for s in sf.shapes()]
    df = pd.DataFrame(columns=fields, data=records)
    df = df.assign(coords=shps)
    return df

In [ ]:
import_taxi_zones().head()

     objectid  ...                                             coords
0           1  ...  POLYGON ((933100.9183527103 192536.0856972019,...
1           2  ...  POLYGON ((1033269.243591294 172126.0078125, 10...
2           3  ...  POLYGON ((1026308.769506663 256767.6975403726,...
3           4  ...  POLYGON ((992073.4667968601 203714.0759887695,...
4           5  ...  POLYGON ((935843.3104932606 144283.335850656, ...
..        ...  ...                                                ...
258       259  ...  POLYGON ((1025414.781960189 270986.1393638253,...
259       260  ...  POLYGON ((1011466.966050446 216463.0052037984,...
260       261  ...  POLYGON ((980555.2043112218 196138.486258477, ...
261       262  ...  POLYGON ((999804.7945504487 224498.5270484537,...
262       263  ...  POLYGON ((997493.3227153122 220912.3861623257,...

[263 rows x 7 columns]